project: 
  type: website
  
website: 
  page-navigation: true
  title: "SAEL Lab Manual" 
  site-url: "https://sael-swfsc.github.io/SAEL-lab-manual" 
  repo-url: "https://github.com/SAEL-SWFSC/SAEL-lab-manual"
  repo-actions: [edit, source, issue]
  favicon: images/favicon.ico
  search: true
  
  
  page-footer:
    right: "This page is built with [Quarto](https://quarto.org/)."
    left: "&copy; CC-1.0"
  
  sidebar:
    background: "#D9E3E4"
    logo: "https://upload.wikimedia.org/wikipedia/commons/7/79/NOAA_logo.svg"
    favicon: images/favicon.ico
    pinned: true
    align: center
    tools: 
      - icon: globe
        href: https://www.fisheries.noaa.gov/west-coast/science-data/southwest-acoustic-ecology-lab
        text: "Southwest Acoustic Ecology Lab, SWFSC"
      - icon: github
        href: https://github.com/SAEL-SWFSC
        text: "SAEL Github"

    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - href: index.qmd
        text: Home
      - href: content/SharedValues-BestPractices.qmd
        text: Shared Values
      - section: "Lab Management"
        contents:
          - content/Safety-Lab.qmd
          - content/Safety_Lithium-Batteries.qmd
          - content/Inventory.qmd
      - section: "Data Management"
        contents:
          - content/Permits_Reporting.qmd
          - content/Data-SpeciesAndCallTypes.qmd
          - content/Data-Archive.qmd
          - content/media.qmd
      - section: "Hardware Methods"
        contents:
          - content/Hardware_ADRIFT.qmd
          - content/Hardware_Handheld-Hydrophone.qmd
      - section: "Software Management"
        contents:
          - content/Ocean-Alert-App.qmd
      - section: "Open Science"
        contents: 
          - content/OpenScience_Getting-Started.qmd
          - content/OpenScience_Stack-Exchange.qmd
          - content/OpenScience_Research-Guide.qmd
          - content/OpenScience_CoWorking.qmd
          - content/OpenScience_Writing-Guide.qmd
          - content/OpenScience_Zotero.qmd
          - content/OpenScience_GithubBook.qmd
          - content/OpenScience_GithubBranches.qmd
          - content/OpenScience_Presentations.qmd
      - section: "Acoustic Analysis"
        contents:
          - content/Analysis-software.qmd
          - content/Analysis-adrift.qmd
        

format:
  html:
    theme:
      light: [cosmo, theme.scss] 
      dark: [cosmo, theme-dark.scss]
    code-copy: true
    code-overflow: wrap
    toc: true

   
     


filters:
  - include-files.lua
  - quarto

  
